<table class="table table-striped table-condensed">

  {{#each this}}
  <tr>
    <td class="player">{{name}}</td>
    <td>
      <button class="btn btn-default btn_hide" >{{I18n "hide"}}</button>
    </td>
  </tr>
  {{/each}}

</table>


